<div class="nested-fields mb-3">

  <div class="form-group">
    <%= f.label t('.date'), class: "h6" %>
    <%= f.text_field :date, class: "date_for_rooms form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t('.rooms'), class: "h6" %>
    <%= f.text_field :rooms, class: "form-control" %>
  </div>

  <%= link_to_remove_association "删除日期", f, {class: "btn btn-sm btn-danger"} %>
</div>
