<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "h6" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :conferences, class: "h6" %>
    <%= form.select(:conference_ids, Product::Conference.all.collect {|item| [ item.name, item.id ] },{},{:multiple => true, id: "hotel_conference_selection", class: ""})%>
  </div>

  <div class="form-group">
    <%= form.label :twin_beds, class: "h6" %>
    <%= form.text_field :twin_beds, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :queen_bed, class: "h6" %>
    <%= form.text_field :queen_bed, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :three_beds, class: "h6" %>
    <%= form.text_field :three_beds, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :other_twin_beds, class: "h6" %>
    <%= form.text_field :other_twin_beds, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :twin_and_queen_price, class: "h6" %>
    <%= form.text_field :twin_and_queen_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :three_beds_price, class: "h6" %>
    <%= form.text_field :three_beds_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :other_twin_beds_price, class: "h6" %>
    <%= form.text_field :other_twin_beds_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :breakfast, class: "h6" %>
    <%= form.text_field :breakfast, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
