
<div class="row mb-2">
  <div class="col">
    <span class="h3"><%= @hotel.name%> > 订单</span>
    <span class="badge badge-pill badge-primary"><%= @orders.count %></span>
  </div>
  <div class="col-auto">
    <span>
      <%= link_to t('.new_order'), admin.new_conference_hotel_order_path, class: "btn btn-success my-auto" %>
    </span>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= check_box_tag 'select_all' %>  全选</th>
      <% @show_page_attributes.each do |spa| %>
        <th scope="col"><%= t(".#{spa.to_s}") %></th>
      <% end %>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |item| %>
      <tr>
        <td><%= check_box_tag 'select', item.id %></td>
        <% @show_page_attributes.each do |spa| %>
          <% case spa.to_s %>
          <% when /names/ %>
            <td><%= ::Admin::OrderData.new(order: item).all_names_string %></td>
          <% else %>
            <td><%= item.try(spa) %></td>
          <% end %>


        <% end %>
        <td>
          <%= link_to t('.show'), item, class: "btn btn-sm btn-primary" %>
          <%= link_to t('.edit'), admin.edit_order_path(item), class: "btn btn-sm btn-primary" %>
          <%= link_to t('.destroy'), item, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-success" id="send_sms">发送短信</button>
<%= link_to '导出报表', "/manager/orders/download.xlsx?conference_id=#{@conference.id}&hotel_id=#{@hotel.id}", class: "btn btn-primary", id: "render_xlsx" %>


<div id="preparing-file-modal" title="Preparing report..." style="display: none;">
    报表生成中，请稍后...

    <div class="ui-progressbar-value ui-corner-left ui-corner-right" style="width: 100%; height:22px; margin-top: 20px;"></div>
</div>

<div id="error-modal" title="Error" style="display: none;">
    报表生成错误，请重试或联系管理员。
</div>
