<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "admin/application", media: "all" %>
  <%= javascript_include_tag "admin/application" %>
</head>
<body>

<%= yield %>
Admin dashboard application
<%= current_admin.email %>
<%= link_to "Log out", admin.destroy_admin_session_path, method: "delete", class: "ml-2 btn btn-secondary"%>

</body>
</html>
